input.input {
    background: #F1F3F6;
    border: 1px solid #A1A4AE;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 10px 20px;

    font-family: Poppins, cursive;
    margin: 5px 0;

    outline-color: #2B6DE6;

    font-size: 14px;
}

.input-btn {
    background: #2B6DE6;
    border-radius: 10px;

    padding: 8px 20px;

    font-family: Poppins, cursive;
    margin: 5px 0;

    outline: none;
    border: solid 3px #2B6DE6;

    font-size: 14px;
    color: #fff;

    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input-btn.full {
    width: 100%;
    font-size: 15px;
}

.input-btn.alt {
    background: #EAF0FD;
    color: #2B6DE6;
    border-color:#EAF0FD;
}

.input-btn svg {
    margin-left: 10px;
}

.input-btn:hover {
    background: white;
    color: #2B6DE6;
}
