html {
    overflow-x: hidden;
}

.submit-question-form {
    margin: 20px 0;
    padding: 10px 60px;
    background: #F1F3F6;
}

.question-status {

    border-radius: 20px;

    width: 24px;
    height: 5px;
}

.question-status.freeze {
    background: #2CCAA9;
}

.question-status.pending {
    background: #EBFF08;
}

.question-status.duplicate {
    background: #FFA800;
}

.question-status.remove {
    background: #CA2C2C;
}

.dropdowns-container {
    display: flex;
    flex-basis: auto;
}

.dropdowns-container .dropdown {
    margin: 0 5px;
}

.add-option {
    text-align: right;
}
